body {
  width: 150px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  text-align: center;
}

.no-angular {
	border: 1px solid #ebccd1;
	border-radius: 5px;
	color: #a94442;
	background-color: #f2dede;
	padding: 5px;
}

.status {
  display: block;
  margin-top: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.red { color: red; }
.green { color: green; }
